<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellsystem.dao.DrugDao">
    <sql id="drugSQL">
        drug.id drugId, drug.name drugName, drug.origin drugOrigin,
        drug.unit drugUnit, drug.number drugNumber, drug.purchase drugPurchase, drug.retail drugRetail,
        drug.period drugPeriod, drug.createTime drugCreateTime, drug.remark drugRemark
    </sql>

    <resultMap id="drugResult" type="Drug">
        <id property="id" column="drugId"/>
        <result property="name" column="drugName"/>
        <result property="origin" column="drugOrigin"/>
        <result property="unit" column="drugUnit"/>
        <result property="number" column="drugNumber"/>
        <result property="purchase" column="drugPurchase"/>
        <result property="retail" column="drugRetail"/>
        <result property="period" column="drugPeriod"/>
        <result property="createTime" column="drugCreateTime"/>
        <result property="remark" column="drugRemark"/>
        <association property="sort" column="drugSort" resultMap="com.sellsystem.dao.SortDao.sortResult"/>
        <association property="warehouse" column="drugWarehouse"
                     resultMap="com.sellsystem.dao.WarehouseDao.warehouseResult"/>
    </resultMap>

    <select id="getList" resultMap="drugResult">
        SELECT
        <include refid="drugSQL"/>,
        <include refid="com.sellsystem.dao.SortDao.sortSQL"/>,
        <include refid="com.sellsystem.dao.WarehouseDao.warehouseSQL"/>
        FROM
        drug drug
        LEFT JOIN sort sort ON drug.sort = sort.id
        LEFT JOIN warehouse warehouse ON drug.warehouse = warehouse.id
        <where>
            <if test="drugSearchModel.name != null">
                <bind name="namePattern" value="'%' + drugSearchModel.getName() + '%'"/>
                drug.name LIKE #{namePattern}
            </if>
            <if test="drugSearchModel.warehouseId != null">
                and drug.warehouse = #{drugSearchModel.warehouseId}
            </if>
            <if test="drugSearchModel.sortId != null">
                and drug.sort = #{drugSearchModel.sortId}
            </if>
            <if test="drugSearchModel.periodTime != null and drugSearchModel.periodTime != ''">
                and drugSearchModel.periodTime between #{drugSearchModel.periodTimeStart} and
                #{drugSearchModel.periodTimeEnd}
            </if>
        </where>
    </select>

    <select id="getDrug" parameterType="java.lang.String" resultMap="drugResult">
        SELECT
        <include refid="drugSQL"/>,
        <include refid="com.sellsystem.dao.SortDao.sortSQL"/>,
        <include refid="com.sellsystem.dao.WarehouseDao.warehouseSQL"/>
        FROM
        drug drug
        LEFT JOIN sort sort ON drug.sort = sort.id
        LEFT JOIN warehouse warehouse ON drug.warehouse = warehouse.id
        WHERE drug.id = #{drugId}
    </select>

    <insert id="create">
        <selectKey keyProperty="drug.id" resultType="java.lang.String" order="BEFORE">
            select uuid() from dual;
        </selectKey>
        insert into drug values (#{drug.id}, #{drug.name}, #{drug.origin}, #{drug.unit}, #{drug.number},
        #{drug.purchase}, #{drug.retail}, #{drug.period}, #{drug.sort.id}, #{drug.warehouse.id}, #{drug.createTime},
        #{drug.remark});
    </insert>

    <update id="update">
        update drug
        <set>
            <if test="drug.name != null">name = #{drug.name},</if>
            <if test="drug.origin != null">origin = #{drug.origin},</if>
            <if test="drug.unit != null">unit = #{drug.unit},</if>
            <if test="drug.number != null">number = #{drug.number},</if>
            <if test="drug.purchase != null">purchase = #{drug.purchase},</if>
            <if test="drug.retail != null">retail = #{drug.retail},</if>
            <if test="drug.period != null">period = #{drug.period},</if>
            <if test="drug.sort != null and drug.sort.id != null">sortId = #{drug.sort.id},</if>
            <if test="drug.warehouse != null and drug.warehouse.id != null">warehouseId = #{drug.warehouse.id},</if>
            <if test="drug.createTime != null">createTime = #{drug.createTime},</if>
            <if test="drug.remark != null">remark = #{drug.remark}</if>
        </set>
        where id = #{drug.id}
    </update>
</mapper>