<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellsystem.dao.SortDao">
    <sql id="sortSQL">
        sort.id sortId, sort.name sortName, sort.pid sortPid,
        sort.createTime sortCreateTime, sort.remark sortRemark
    </sql>
    <resultMap id="sortResult" type="Sort">
        <id property="id" column="sortId"/>
        <result property="name" column="sortName"/>
        <result property="pid" column="sortPid"/>
        <result property="createTime" column="sortCreateTime"/>
        <result property="remark" column="sortRemark"/>
    </resultMap>

    <select id="getList" resultMap="sortResult">
        select <include refid="sortSQL"/> from sort
    </select>
</mapper>