<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellsystem.dao.UserDao">
    <!--一个类中有两个User，只要定义两个resultMap就行，别的不用变，sql语句左连接一个User表就行，可以查看TaskMapper.xml的getList-->
    <resultMap id="createUserResult" type="User">
        <id property="id" column="userId"/>
        <result property="name" column="userName"/>
        <result property="password" column="userPassword"/>
        <result property="age" column="userAge"/>
        <result property="tel" column="userTel"/>
        <result property="email" column="userEmail"/>
        <result property="createTime" column="userCreateTime"/>
        <result property="remark" column="userRemark"/>
    </resultMap>

    <sql id="userSQL">
        user.id userId, user.name userName, user.password userPassword, user.age userAge,
        user.tel userTel, user.email userEmail,user.createTime userCreateTime, user.remark userRemark
    </sql>
    <resultMap id="userResult" type="User">
        <id property="id" column="userId"/>
        <result property="name" column="userName"/>
        <result property="password" column="userPassword"/>
        <result property="age" column="userAge"/>
        <result property="tel" column="userTel"/>
        <result property="email" column="userEmail"/>
        <result property="createTime" column="userCreateTime"/>
        <result property="remark" column="userRemark"/>
    </resultMap>
</mapper>