<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellsystem.dao.UserDao">
    <sql id="createUserSQL">
        createUser.id createUserId, createUser.name createUserName, createUser.password createUserPassword,
        createUser.age createUserAge, createUser.tel createUserTel, createUser.email createUserEmail,
        createUser.createTime createUserCreateTime, createUser.remark createUserRemark, createUser.isDelete createUserIsDelete
    </sql>
    <resultMap id="createUserResult" type="User">
        <id property="id" column="createUserId"/>
        <result property="name" column="createUserName"/>
        <result property="password" column="createUserPassword"/>
        <result property="age" column="createUserAge"/>
        <result property="tel" column="createUserTel"/>
        <result property="email" column="createUserEmail"/>
        <result property="createTime" column="createUserCreateTime"/>
        <result property="remark" column="createUserRemark"/>
        <result property="isDelete" column="createUserIsDelete"/>
    </resultMap>

    <sql id="userSQL">
        user.id userId, user.name userName, user.password userPassword, user.age userAge,
        user.tel userTel, user.email userEmail,user.createTime userCreateTime, user.remark userRemark, user.isDelete userIsDelete
    </sql>
    <resultMap id="userResult" type="User">
        <id property="id" column="userId"/>
        <result property="name" column="userName"/>
        <result property="password" column="userPassword"/>
        <result property="age" column="userAge"/>
        <result property="tel" column="userTel"/>
        <result property="email" column="userEmail"/>
        <result property="createTime" column="userCreateTime"/>
        <result property="remark" column="userRemark"/>
        <result property="isDelete" column="userIsDelete"/>
    </resultMap>
</mapper>