<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellsystem.dao.WarehouseDao">
    <sql id="warehouseSQL">
        warehouse.id warehouseId, warehouse.name warehouseName, warehouse.orders warehouseOrders,
        warehouse.createTime warehouseCreateTime, warehouse.remark warehouseRemark, warehouse.del warehouseDel
    </sql>

    <resultMap id="warehouseResult" type="Warehouse">
        <id property="id" column="warehouseId"/>
        <result property="name" column="warehouseName"/>
        <result property="orders" column="warehouseOrders"/>
        <result property="createTime" column="warehouseCreateTime"/>
        <result property="remark" column="warehouseRemark"/>
        <result property="del" column="warehouseDel"/>
    </resultMap>
    <!--<include refid="com.sellsystem.dao.DrugDao.drugSQL"/>
    <collection property="drugList" resultMap="com.sellsystem.dao.DrugDao.drugResult"/>-->

    <select id="getList" resultType="java.util.Map">
        SELECT
            warehouse.id, warehouse.name, warehouse.orders, warehouse.createTime, warehouse.remark, warehouse.del, COUNT(drug.id) drugNum
        FROM warehouse warehouse
        LEFT JOIN drug drug ON warehouse.id = drug.warehouse
        GROUP BY warehouse.id
    </select>

    <select id="getWList" resultMap="warehouseResult">
        select * from warehouse where del = 0 order by orders
    </select>

    <insert id="create">
        <selectKey keyProperty="warehouse.id" resultType="java.lang.String" order="BEFORE">
            SELECT uuid() FROM dual
        </selectKey>
        insert into warehouse values
        (#{warehouse.id}, #{warehouse.name}, #{warehouse.orders}, #{warehouse.remark}, #{warehouse.createTime}, #{warehouse.del});
    </insert>

    <update id="update">
        update warehouse
        <set>
            <if test="warehouse.name != null">name = #{warehouse.name},</if>
            <if test="warehouse.orders != null">orders = #{warehouse.orders},</if>
            <if test="warehouse.remark != null">remark = #{warehouse.remark},</if>
            <if test="warehouse.createTime != null">createTime = #{warehouse.createTime},</if>
            <if test="warehouse.del != null">del = #{warehouse.del}</if>
        </set>
        where id = #{warehouse.id}
    </update>

    <delete id="delete">
        delete from warehouse where id = #{warehouse.id}
    </delete>
</mapper>