<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sellsystem.dao.WarehouseDao">
    <sql id="warehouseSQL">
        warehouse.id warehouseId, warehouse.name warehouseName,
        warehouse.createTime warehouseCreateTime, warehouse.remark warehouseRemark
    </sql>

    <resultMap id="warehouseResult" type="Warehouse">
        <id property="id" column="warehouseId"/>
        <result property="name" column="warehouseName"/>
        <result property="createTime" column="warehouseCreateTime"/>
        <result property="remark" column="warehouseRemark"/>
    </resultMap>

    <select id="getList" resultMap="warehouseResult">
        SELECT
        <include refid="warehouseSQL"/>,
        <include refid="com.sellsystem.dao.DrugDao.drugSQL"/>
        FROM warehouse warehouse
        LEFT JOIN drug drug ON warehouse.id = drug.warehouse
    </select>

    <insert id="create">
        <selectKey keyProperty="warehouse.id" resultType="java.lang.String" order="BEFORE">
            SELECT uuid() FROM dual
        </selectKey>
        insert into warehouse values
        (#{warehouse.id}, #{warehouse.name}, #{warehouse.createTime}, #{warehouse.remark});
    </insert>

    <update id="update">
        update warehouse
        <set>
            <if test="warehouse.name != null">name = #{warehouse.name}</if>
            <if test="warehouse.remark != null">remark = #{warehouse.remark}</if>
        </set>
        where id = #{warehouse.id}
    </update>

    <delete id="delete">
        delete from warehouse where id = #{warehouse.id}
    </delete>
</mapper>